.calcHeader {
    text-align: center;
}

.flexContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.calcMainArea {
    width: 50%;
    border: 2px solid black;
}

.calcRow {
    display: flex;
}