html {
    background-color: #342E37;
    color: #0AFFF7;
}

.calcHeader {
    text-align: center;
}

.flexContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.calcMainArea {
    width: 33%;
    border: 2px solid #0AFFF7;
}

.calcRow {
    display: flex;
}

.calcBtn,
.calcBtnNumber,
.calcBtnOperator,
.logoBtn {
    border: 1px solid #0AFFF7;
    width: 25%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
}

.calcDisplay {
    width: 100%;
    height: 4rem;
    font-size: 3.5rem;
    text-align: right;
    resize: none;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.logoBtn {
    padding: 0 auto;
    width: 50%;
    font-size: 2rem;
    font-weight: lighter;
}

.calcBtn:hover,
.calcBtnNumber:hover,
.calcBtnOperator:hover {
    background-color: #138E90;
}